<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ennova.pubinfouser.dao.DeptDao">
    <resultMap id="BaseResultMap" type="com.ennova.pubinfouser.entity.DeptEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="use_status" jdbcType="VARCHAR" property="useStatus" />
        <result column="is_operate" jdbcType="INTEGER" property="isOperate" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="company" jdbcType="INTEGER" property="company" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, dept_name, use_status, is_operate, is_delete, company, create_time, update_time
    </sql>

    <select id="getDeptByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_dept
        where is_delete = 0
        and dept_name = #{deptName}
    </select>

    <insert id="insertSelective" parameterType="com.ennova.pubinfouser.entity.DeptEntity">
        insert into t_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="useStatus != null">
                use_status,
            </if>
            <if test="isOperate != null">
                is_operate,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptName != null">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null">
                #{useStatus,jdbcType=VARCHAR},
            </if>
            <if test="isOperate != null">
                #{isOperate,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                #{company,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getDeptById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_dept
        where is_delete = 0
        and id = #{id}
    </select>


    <update id="updateByPrimaryKeySelective" parameterType="com.ennova.pubinfouser.entity.DeptEntity">
        update t_dept
        <set>
            <if test="deptName != null">
                dept_name = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null">
                use_status = #{useStatus,jdbcType=VARCHAR},
            </if>
            <if test="isOperate != null">
                is_operate = #{isOperate,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="delete">
        update t_dept
        set is_delete = 1
        where id = #{id}
    </update>


    <select id="listDepts" resultType="com.ennova.pubinfouser.vo.DeptVO">
        select
        t.id,
        t.dept_name AS deptName,
        t.use_status AS useStatus,
        t.create_time AS createTime
        from t_dept  t
        where t.is_delete = 0
        and t.company = #{company}
        <if test="searchKey != null and searchKey != ''">
            and  trim(replace(t.dept_name,' ','')) like trim(replace(CONCAT('%',#{searchKey},'%'),' ',''))
        </if>
        ORDER BY t.create_time DESC
    </select>

    <select id="listDeptList" resultType="com.ennova.pubinfouser.vo.DeptVO">
        select
<!--        t.id,-->
        t.dept_id AS id,
        t.dept_name AS deptName,
        t.use_status AS useStatus,
        t.create_time AS createTime
        from t_dept  t
        where t.is_delete = 0
        and t.use_status = 0
        and t.company = #{company}

    </select>

    <select id="listUserDeptList" resultType="com.ennova.pubinfouser.vo.DeptVO">
        select DISTINCT
        t.dept_id AS id,
        t.dept_name AS deptName,
        t.use_status AS useStatus,
        t.create_time AS createTime
        from t_user  u
        left join t_dept t
        on t.dept_id = u.department
        where t.is_delete = 0
        and t.use_status = 0
        and u.status = 0
        and t.company = #{company}
    </select>
</mapper>