<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ennova.pubinfouser.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.ennova.pubinfouser.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="job_num" jdbcType="VARCHAR" property="jobNum" />
        <result column="company" jdbcType="VARCHAR" property="company" />
        <result column="department" jdbcType="VARCHAR" property="department" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, mobile,job_num, company, department, position, status, is_delete, create_time,update_time
    </sql>

    <select id="getUserInfoByMobile" resultType="com.ennova.pubinfouser.vo.UserVO">
        select u.id,
               u.username,
               u.mobile,
               u.job_num as jobNum,
               u.password,
               t.role_id     as roleId,
               u.company,
               u.department,
               td.dept_name as deptName,
               u.position,
               u.status,
               u.create_time as createTime,
               u.update_time as updateTime,
               u.is_delete   as isDelete,
               r.role_name   as roleName,
               r.role_code   as roleCode,
               u.is_update   as isUpdate
        from t_user u
                 left join t_user_role t on u.id = t.user_id
                 left join t_role r on t.role_id = r.id
                 left join t_user_dept tud on u.id = tud.user_id
                 left join t_dept td on u.department = td.dept_id
<!--                 left join t_dept td on tud.dept_id = td.id-->
        where u.is_delete = 0
          and u.mobile = #{mobile}
        limit 1
    </select>

    <insert id="insert" parameterType="com.ennova.pubinfouser.entity.UserEntity">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="wechatNo != null">
                wechat_no,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="jobNum != null">
                job_num,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="status != null ">
                status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="wechatNo != null">
                #{wechatNo,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="jobNum != null">
                #{jobNum,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getUserById" resultType="com.ennova.pubinfouser.vo.UserVO">
        SELECT
            u.id,
            u.mobile,
            u.job_num AS jobNum,
            u.username,
            u.wechat_no AS wechatNo,
            d.id department,
            d.dept_name deptName,
            u.position,
            r.id AS roleId,
            r.role_name AS roleName,
            r.role_code AS roleCode,
            u.STATUS,
            u.create_time AS createTime
        FROM
            t_user u
                LEFT JOIN t_dept d ON u.department = d.dept_id
                LEFT JOIN t_user_role ur ON ur.user_id = u.id
                LEFT JOIN t_role r ON ur.role_id = r.id
        WHERE
            u.is_delete = 0
          AND u.id = #{id}
    </select>

    <update id="delete">
        update t_user
        set is_delete = 1
        where id = #{id}
    </update>


    <select id="listUsers" resultType="com.ennova.pubinfouser.vo.UserVO">
        SELECT
        u.id,
        u.mobile,
        u.job_num AS jobNum,
        u.username,
        u.department,
        u.wechat_no AS wechatNo,
        d.dept_name deptName,
        u.position,
        r.role_name AS roleName,
        u.STATUS,
        u.create_time AS createTime
        FROM
        t_user u
<!--        LEFT JOIN t_dept d ON u.department = d.id-->
        LEFT JOIN t_dept d ON u.department = d.dept_id
        LEFT JOIN t_user_role ur ON ur.user_id = u.id
        LEFT JOIN t_role r ON ur.role_id = r.id
        WHERE
        u.is_delete = 0
<!--        AND r.role_code != "ADMIN"-->
        AND u.is_show != 0
        <if test="roleId != null">
            and r.id = #{roleId}
        </if>
        <if test="department != null">
            and u.department = #{department}
        </if>
        <if test="searchKey != null and searchKey != ''">
            and CONCAT(trim(replace(u.username,' ','')),trim(replace(u.mobile,' ','')),trim(replace(u.job_num,' ','')))  like trim(replace(CONCAT('%',#{searchKey},'%'),' ',''))
        </if>
        order by CONVERT( u.username USING gbk ) COLLATE gbk_chinese_ci ASC
    </select>

    <select id="getCouPerDept" resultType="com.ennova.pubinfouser.vo.PerDeptNumVO">
        SELECT
        d.dept_name AS deptName,
        count(*) AS deptCou
        FROM
        t_user u
        <!--                LEFT JOIN t_dept d ON u.department = d.id-->
        LEFT JOIN t_dept d ON u.department = d.dept_id
        LEFT JOIN t_user_role ur ON ur.user_id = u.id
        LEFT JOIN t_role r ON ur.role_id = r.id
        WHERE
        u.is_delete = 0
        <!--        AND r.role_code != "ADMIN"-->
        GROUP BY
        d.dept_name
    </select>

    <update id="update" parameterType="com.ennova.pubinfouser.entity.UserEntity">
        update t_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="wechatNo != null">
                wechat_no = #{wechatNo,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="jobNum != null">
                job_num = #{jobNum,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isUpdate != null">
                is_update = #{isUpdate,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="getUserByMobile" resultType="com.ennova.pubinfouser.vo.UserVO">
        SELECT
            u.id,
            u.mobile,
            u.job_num AS jobNum,
            u.username,
            u.wechat_no AS wechatNo,
            u.position,
            u.STATUS,
            u.create_time AS createTime
        FROM
            t_user u
        WHERE
            u.is_delete = 0
          AND u.mobile = #{mobile}
    </select>

    <select id="getUserInfoByUname" resultType="com.ennova.pubinfouser.vo.UserVO">
        SELECT
            u.id,
            u.mobile,
            u.job_num AS jobNum,
            u.username,
            u.wechat_no AS wechatNo,
            u.position,
            u.STATUS,
            u.create_time AS createTime
        FROM
            t_user u
        WHERE
            u.is_delete = 0
          AND u.username = #{username}
    </select>

    <select id="getUserInfoByJobNum" resultType="com.ennova.pubinfouser.vo.UserVO">
        select u.id,
        u.username,
        u.mobile,
        u.job_num as jobNum,
        u.password,
        t.role_id     as roleId,
        u.company,
        u.department,
        td.dept_name as deptName,
        u.position,
        u.status,
        u.create_time as createTime,
        u.update_time as updateTime,
        u.is_delete   as isDelete,
        r.role_name   as roleName,
        r.role_code   as roleCode,
        u.is_update   as isUpdate
        from t_user u
        left join t_user_role t on u.id = t.user_id
        left join t_role r on t.role_id = r.id
        left join t_user_dept tud on u.id = tud.user_id
        left join t_dept td on tud.dept_id = td.id
        where u.is_delete = 0
        and u.job_num = #{jobNum}
        limit 1
    </select>
</mapper>