<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ennova.pubinfofile.dao.YsDayRepMapper">
  <resultMap id="BaseResultMap" type="com.ennova.pubinfofile.entity.YsDayRep">
    <!--@mbg.generated-->
    <!--@Table ys_day_rep-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="open_file" jdbcType="INTEGER" property="openFile" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="ys_master_task_id" jdbcType="INTEGER" property="ysMasterTaskId" />
    <result column="file_content" jdbcType="VARCHAR" property="fileContent" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="dayrep_time" jdbcType="TIMESTAMP" property="dayrepTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.ennova.pubinfofile.vo.YsDayRepVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    <result column="masterTaskName" jdbcType="VARCHAR" property="masterTaskName" />
    <result column="ysMasterTaskId" jdbcType="INTEGER" property="ysMasterTaskId" />
    <result column="fileContent" jdbcType="VARCHAR" property="fileContent" />
    <result column="dayrepTime" jdbcType="TIMESTAMP" property="dayrepTime" />
    <result column="feedContent" jdbcType="VARCHAR" property="feedContent" />
    <collection ofType="com.ennova.pubinfofile.vo.FileVO" property="fileVOList">
      <result column="fileId" jdbcType="INTEGER" property="id" />
      <result column="fileMasterId" jdbcType="INTEGER" property="fileMasterId" />
      <result column="name" jdbcType="VARCHAR" property="fileName" />
      <result column="fileMd5" jdbcType="VARCHAR" property="newfileName" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, file_name, open_file, del_flag, ys_master_task_id, file_content,
    user_id, dayrep_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ys_day_rep
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from ys_day_rep
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ennova.pubinfofile.entity.YsDayRep" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ys_day_rep (file_name, open_file, del_flag, 
      ys_file_type_id, ys_master_task_id, file_content, 
      user_id, dayrep_time, create_time, 
      update_time)
    values (#{fileName,jdbcType=VARCHAR}, #{openFile,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER}, 
      #{ysMasterTaskId,jdbcType=INTEGER}, #{fileContent,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER}, #{dayrepTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ennova.pubinfofile.entity.YsDayRep" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ys_day_rep
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        file_name,
      </if>
      <if test="openFile != null">
        open_file,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="ysMasterTaskId != null">
        ys_master_task_id,
      </if>
      <if test="fileContent != null">
        file_content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="dayrepTime != null">
        dayrep_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="openFile != null">
        #{openFile,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="ysMasterTaskId != null">
        #{ysMasterTaskId,jdbcType=INTEGER},
      </if>
      <if test="fileContent != null">
        #{fileContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="dayrepTime != null">
        #{dayrepTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ennova.pubinfofile.entity.YsDayRep">
    <!--@mbg.generated-->
    update ys_day_rep
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="openFile != null">
        open_file = #{openFile,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="ysMasterTaskId != null">
        ys_master_task_id = #{ysMasterTaskId,jdbcType=INTEGER},
      </if>
      <if test="fileContent != null">
        file_content = #{fileContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="dayrepTime != null">
        dayrep_time = #{dayrepTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ennova.pubinfofile.entity.YsDayRep">
    <!--@mbg.generated-->
    update ys_day_rep
    set file_name = #{fileName,jdbcType=VARCHAR},
      open_file = #{openFile,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      ys_master_task_id = #{ysMasterTaskId,jdbcType=INTEGER},
      file_content = #{fileContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      dayrep_time = #{dayrepTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectDetailOne" resultMap="BaseResultMap2">
    SELECT
    ydr.id,
    ydr.file_name AS fileName,
    ymt.name AS masterTaskName,
    ymt.id AS ysMasterTaskId,
    ydr.file_content AS fileContent,
    ydr.dayrep_time AS dayrepTime,
    yfb.feed_content AS feedContent,
    ysrf.id fileId,
    ysrf.day_rep_id  AS fileMasterId,
    ysrf.name,
    ysrf.file_md5 fileMd5
    FROM
    ys_day_rep ydr
    LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
    LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
    LEFT JOIN ys_feed_back yfb ON yfb.day_rep_id = ydr.id
    WHERE 1=1
    <if test="id != null">
      and ydr.id=#{id}
    </if>
  </select>

  <select id="getDayRepsByRoleCode" resultType="com.ennova.pubinfofile.vo.DayRepDetailVO">
    SELECT
    ydr.id,
    ydr.file_name AS fileName,
    ydr.dayrep_time AS dayrepTime,
    ymt.name AS masterTaskName,
    ymt.id AS ysMasterTaskId,
    tu.username AS username,
    ydr.create_time AS createTime,
    ysrf.id AS fileId,
    yfb.feed_status AS feedStatus
    FROM
    ys_day_rep ydr
    LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
    LEFT JOIN t_user tu ON ydr.user_id = tu.id
    LEFT JOIN t_user_role tur ON tur.user_id = tu.id
    LEFT JOIN t_role tr  ON tr.id = tur.role_id
    LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
    LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
    WHERE 1=1
    AND ydr.del_flag = 0
    <if test="subRoleCode != null">
      AND tr.role_code = #{subRoleCode}
    </if>
    <if test="ysMasterTaskId != null">
      AND ymt.id = #{ysMasterTaskId}
    </if>
    <if test="fileName != null and fileName != ''">
      AND CONCAT(trim(replace(ydr.file_name,' ','')),trim(replace(tu.username,' ',''))) like trim(replace(CONCAT('%',#{fileName},'%'),' ',''))
    </if>
    <if test="startTime!=null and startTime!=''">
      AND ydr.dayrep_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null and endTime!=''">
      AND ydr.dayrep_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    GROUP BY id
    ORDER BY ydr.create_time DESC
  </select>


  <select id="getDayRepDetailsByStm" resultType="com.ennova.pubinfofile.vo.DayRepDetailVO">
    SELECT
    *
    FROM
    (
        SELECT
        ydr.id,
        ydr.file_name AS fileName,
        ydr.dayrep_time AS dayrepTime,
        ymt.name AS masterTaskName,
        ymt.id AS ysMasterTaskId,
        tu.username AS username,
        ydr.create_time AS createTime,
        ysrf.id AS fileId,
        yfb.feed_status AS feedStatus
        FROM
        ys_day_rep ydr
        LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
        LEFT JOIN t_user tu ON ydr.user_id = tu.id
        LEFT JOIN t_user_role tur ON tur.user_id = tu.id
        LEFT JOIN t_role tr  ON tr.id = tur.role_id
        LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
        LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
        WHERE 1=1
        AND ydr.del_flag = 0
        AND ydr.ys_master_task_id in
        <foreach close=")" collection="maskTaskIdList" item="item" open="(" separator=", ">
          #{item}
        </foreach>
    UNION
        SELECT
        ydr.id,
        ydr.file_name AS fileName,
        ydr.dayrep_time AS dayrepTime,
        ymt.name AS masterTaskName,
        ymt.id AS ysMasterTaskId,
        tu.username AS username,
        ydr.create_time AS createTime,
        ysrf.id AS fileId,
        yfb.feed_status AS feedStatus
        FROM
        ys_day_rep ydr
        LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
        LEFT JOIN t_user tu ON ydr.user_id = tu.id
        LEFT JOIN t_user_role tur ON tur.user_id = tu.id
        LEFT JOIN t_role tr  ON tr.id = tur.role_id
        LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
        LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
        WHERE 1=1
        AND ydr.del_flag = 0
        AND ydr.user_id = #{userId}
    UNION
        SELECT
        ydr.id,
        ydr.file_name AS fileName,
        ydr.dayrep_time AS dayrepTime,
        ymt.name AS masterTaskName,
        ymt.id AS ysMasterTaskId,
        tu.username AS username,
        ydr.create_time AS createTime,
        ysrf.id AS fileId,
        yfb.feed_status AS feedStatus
        FROM
        ys_day_rep ydr
        LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
        LEFT JOIN t_user tu ON ydr.user_id = tu.id
        LEFT JOIN t_user_role tur ON tur.user_id = tu.id
        LEFT JOIN t_role tr  ON tr.id = tur.role_id
        LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
        INNER JOIN ys_team t2 ON ydr.user_id = t2.executor_id
        LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
        WHERE
        1 = 1
        AND ydr.del_flag = 0
        AND ydr.ys_master_task_id = t2.ys_master_task_id
        AND t2.user_id = #{userId}
    ) fin
    WHERE
    1 =1
    <if test="ysMasterTaskId != null">
      AND fin.ysMasterTaskId = #{ysMasterTaskId}
    </if>
    <if test="fileName != null and fileName != ''">
      AND CONCAT(trim(replace(fileName,' ','')),trim(replace(username,' ',''))) like trim(replace(CONCAT('%',#{fileName},'%'),' ',''))
    </if>
    <if test="startTime!=null and startTime!=''">
      AND fin.dayrepTime &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null and endTime!=''">
      AND fin.dayrepTime &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    GROUP BY fin.id
    ORDER BY fin.createTime DESC
  </select>

  <select id="getDayRepsBySelf" resultType="com.ennova.pubinfofile.vo.DayRepDetailVO">
    SELECT
    ydr.id,
    ydr.file_name AS fileName,
    ydr.dayrep_time AS dayrepTime,
    ymt.name AS masterTaskName,
    ymt.id AS ysMasterTaskId,
    tu.username AS username,
    ydr.create_time AS createTime,
    ysrf.id AS fileId,
    yfb.feed_status AS feedStatus
    FROM
    ys_day_rep ydr
    LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
    LEFT JOIN t_user tu ON ydr.user_id = tu.id
    LEFT JOIN t_user_role tur ON tur.user_id = tu.id
    LEFT JOIN t_role tr  ON tr.id = tur.role_id
    LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
    LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
    WHERE 1=1
    AND ydr.del_flag = 0
    AND ydr.user_id = #{userId}
    <if test="ysMasterTaskId != null">
      AND ymt.id = #{ysMasterTaskId}
    </if>
    <if test="fileName != null and fileName != ''">
      AND CONCAT(trim(replace(ydr.file_name,' ','')),trim(replace(tu.username,' ',''))) like trim(replace(CONCAT('%',#{fileName},'%'),' ',''))
    </if>
    <if test="startTime!=null and startTime!=''">
      AND ydr.dayrep_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null and endTime!=''">
      AND ydr.dayrep_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    GROUP BY id
    ORDER BY ydr.create_time DESC
  </select>

  <select id="getDayRepAll" resultType="com.ennova.pubinfofile.vo.DayRepDetailVO">
    SELECT
    ydr.id,
    ydr.file_name AS fileName,
    ydr.dayrep_time AS dayrepTime,
    ymt.name AS masterTaskName,
    ymt.id AS ysMasterTaskId,
    tu.username AS username,
    ydr.create_time AS createTime,
    ysrf.id AS fileId,
    yfb.feed_status AS feedStatus
    FROM
    ys_day_rep ydr
    LEFT JOIN ys_master_task ymt ON ydr.ys_master_task_id = ymt.id
    LEFT JOIN t_user tu ON ydr.user_id = tu.id
    LEFT JOIN t_user_role tur ON tur.user_id = tu.id
    LEFT JOIN t_role tr  ON tr.id = tur.role_id
    LEFT JOIN ys_day_rep_file ysrf  ON ydr.id = ysrf.day_rep_id
    LEFT JOIN ys_feed_back yfb on yfb.day_rep_id = ydr.id
    WHERE 1=1
    AND ydr.del_flag = 0
    <if test="ysMasterTaskId != null">
      AND ymt.id = #{ysMasterTaskId}
    </if>
    <if test="fileName != null and fileName != ''">
      AND CONCAT(trim(replace(ydr.file_name,' ','')),trim(replace(tu.username,' ',''))) like trim(replace(CONCAT('%',#{fileName},'%'),' ',''))
    </if>
    <if test="startTime!=null and startTime!=''">
      AND ydr.dayrep_time &gt;= #{startTime,jdbcType=TIMESTAMP}
    </if>
    <if test="endTime!=null and endTime!=''">
      AND ydr.dayrep_time &lt;= #{endTime,jdbcType=TIMESTAMP}
    </if>
    GROUP BY id
    ORDER BY ydr.create_time DESC
  </select>

  <update id="delete">
    update ys_day_rep
    set del_flag = 1
    where id = #{id}
  </update>

  <select id="fileDetail" resultType="com.ennova.pubinfofile.vo.FileDownVO">
    SELECT
    ydrf.id,
    ydrf.name AS fjName,
    ydrf.file_url AS fileUrl,
    ydrf.file_size AS fileSize
    FROM
    ys_day_rep_file ydrf
    LEFT JOIN ys_day_rep ydr ON ydr.id = ydrf.day_rep_id
    WHERE
    ydr.id = #{id}
    AND ydrf.del_flag = 0
  </select>


</mapper>