<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ennova.pubinfoproduct.daos.ErpQualifiedRateMapper">
  <resultMap id="BaseResultMap" type="com.ennova.pubinfoproduct.entity.ErpQualifiedRate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_order_no" jdbcType="VARCHAR" property="workOrderNo" />
    <result column="prd_no" jdbcType="VARCHAR" property="prdNo" />
    <result column="prd_name" jdbcType="VARCHAR" property="prdName" />
    <result column="work_order_status" jdbcType="VARCHAR" property="workOrderStatus" />
    <result column="module_no" jdbcType="VARCHAR" property="moduleNo" />
    <result column="zz_prd_count" jdbcType="INTEGER" property="zzPrdCount" />
    <result column="scrap_count" jdbcType="INTEGER" property="scrapCount" />
    <result column="scrap_rate" jdbcType="VARCHAR" property="scrapRate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="prd_unit" jdbcType="VARCHAR" property="prdUnit" />
    <result column="estimated_output" jdbcType="INTEGER" property="estimatedOutput" />
    <result column="start_work_date" jdbcType="VARCHAR" property="startWorkDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_order_no, prd_no, prd_name, work_order_status, module_no, zz_prd_count, 
    scrap_count, scrap_rate, create_time, prd_unit, estimated_output, start_work_date
  </sql>


    <select id="selectAllByModuleNo" resultType="com.ennova.pubinfoproduct.vo.ErpQualifiedRateVO">
        select
        work_order_no AS workOrderNo,
        prd_no AS prdNo,
        prd_name AS prdName,
        work_order_status AS workOrderStatus,
        module_no AS moduleNo,
        zz_prd_count AS zzPrdCount,
        scrap_count AS scrapCount,
        scrap_rate AS scrapRate,
        DATE_FORMAT( create_time, '%Y-%m-%d' ) AS createTime,
        prd_unit AS prdUnit,
        estimated_output AS estimatedOutput,
        DATE_FORMAT( start_work_date, '%Y-%m-%d' ) AS startWorkDate,
        DATEDIFF(NOW(),start_work_date) AS onPrdDay
        from erp_qualified_rate
        where
        module_no in
        <foreach item="item" index="index" collection="gxList" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND zz_prd_count != 0
        AND DATE_FORMAT( create_time, '%Y-%m-%d' ) =
        ( SELECT DATE_FORMAT( max( create_time ), '%Y-%m-%d' ) FROM erp_qualified_rate)
    </select>
</mapper>