<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ennova.pubinfoproduct.daos.ErpTransferOrderMapper">
  <resultMap id="BaseResultMap" type="com.ennova.pubinfoproduct.entity.ErpTransferOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_date" jdbcType="VARCHAR" property="orderDate" />
    <result column="transfer_order_no" jdbcType="VARCHAR" property="transferOrderNo" />
    <result column="move_out_no" jdbcType="VARCHAR" property="moveOutNo" />
    <result column="move_in_no" jdbcType="VARCHAR" property="moveInNo" />
    <result column="work_order_no" jdbcType="VARCHAR" property="workOrderNo" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="acceptance_num" jdbcType="INTEGER" property="acceptanceNum" />
    <result column="scrap_num" jdbcType="INTEGER" property="scrapNum" />
    <result column="bad_num" jdbcType="INTEGER" property="badNum" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_date, transfer_order_no, move_out_no, move_in_no, work_order_no, product_no, 
    product_name, acceptance_num, scrap_num,bad_num, total_num
  </sql>

  <select id="selectAllByMoveOutNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from erp_transfer_order
    where move_out_no in
    <foreach item="item" index="index" collection="gxList" open="(" separator="," close=")">
      #{item}
    </foreach>
    AND DATE_SUB(CURDATE(),INTERVAL 60 DAY) &lt;= DATE(order_date)
  </select>
</mapper>