<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ennova.pubinfonew.dao.NewsCommentMapper">
    <resultMap id="BaseResultMap" type="com.ennova.pubinfonew.entity.NewsComment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="news_id" jdbcType="INTEGER" property="newsId"/>
        <result column="comment_user_id" jdbcType="INTEGER" property="commentUserId"/>
        <result column="comment_content" jdbcType="VARCHAR" property="commentContent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, news_id, comment_user_id, comment_content, create_time, sort_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from news_comment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ennova.pubinfonew.entity.NewsComment"
            useGeneratedKeys="true">
        insert into news_comment (news_id, comment_user_id, comment_content, create_time, sort_id)
        values (#{newsId,jdbcType=INTEGER}, #{commentUserId,jdbcType=INTEGER},
                #{commentContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{sortId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.ennova.pubinfonew.entity.NewsComment" useGeneratedKeys="true">
        insert into news_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsId != null">
                news_id,
            </if>
            <if test="commentUserId != null">
                comment_user_id,
            </if>
            <if test="commentContent != null">
                comment_content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="sortId != null">
                sort_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsId != null">
                #{newsId,jdbcType=INTEGER},
            </if>
            <if test="commentUserId != null">
                #{commentUserId,jdbcType=INTEGER},
            </if>
            <if test="commentContent != null">
                #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sortId != null">
                #{sortId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ennova.pubinfonew.entity.NewsComment">
        update news_comment
        <set>
            <if test="newsId != null">
                news_id = #{newsId,jdbcType=INTEGER},
            </if>
            <if test="commentUserId != null">
                comment_user_id = #{commentUserId,jdbcType=INTEGER},
            </if>
            <if test="commentContent != null">
                comment_content = #{commentContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ennova.pubinfonew.entity.NewsComment">
        update news_comment
        set news_id          = #{newsId,jdbcType=INTEGER},
            comment_user_id = #{commentUserId,jdbcType=INTEGER},
            comment_content = #{commentContent,jdbcType=VARCHAR},
            create_time     = #{createTime,jdbcType=TIMESTAMP},
            sort_id         = #{sortId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        insert into news_comment
        (news_id, comment_user_id, comment_content, create_time, sort_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.newsId,jdbcType=INTEGER}, #{item.commentUserId,jdbcType=INTEGER},
            #{item.commentContent,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.sortId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <select id="selectCheckPerson" resultType="com.ennova.pubinfonew.vo.CurrentUserVO">
        SELECT ncp.id       userId,
               ncp.username userName,
               ncp.job_num  jobNum
        FROM news_check_person ncp
    </select>

    <update id="updateSortIdById" parameterType="java.lang.Integer">
        update news_comment
        set sort_id =((select MAX(sort_id) from (select * from news_comment) as x) + 1)
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateSortIdsById" parameterType="java.lang.Integer">
        update news_comment
        set sort_id = 0
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectCommentByEditionTitle" resultType="com.ennova.pubinfonew.vo.NewsCommentVO">
        select nc.id,
        nc.news_id AS newsId,
        nc.comment_user_id AS commentUserId,
        nc.comment_content AS commentContent,
        nc.create_time AS createTime,
        nc.sort_id AS sortId,
        np.edition_title AS editionTitle
        from news_comment nc join news_periodical np on nc.news_id = np.id
        <where>
            nc.is_delete = 0
            <if test="editionTitle != null and editionTitle != ''">
                and np.edition_title like CONCAT('%', trim(#{editionTitle}), '%')
            </if>
        </where>
        order by sortId desc, createTime desc
    </select>

    <delete id="deleteComment" parameterType="java.lang.Integer">
        update news_comment set is_delete = 1
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectCommentByNewsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news_comment
        <where>
            <if test="newsId != null">
                and news_id = #{newsId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>